/* Desktop */
body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
}
header {
    background-color: #2e0264;
    padding: 20px 0;
    margin-bottom: 50px;
}

nav {
  overflow: visible;
  background-color: #333;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: visible;
  position:relative;
  margin-left: 50px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(176, 111, 233);
  border-radius: 5px;
}
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 225px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */

  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: rgb(176, 111, 233);
  border-radius: 5px;
}

.dropdown:hover > .dropdown-content {
  display: block;
}


/* h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
} */

p {
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}   

li {
    text-align: center;
    margin: 50px 0;
    font-size: 1rem;
    list-style: none;
}

 a {
    color: white;
    padding: 10px 5px;
    /* border: 1px solid #2e0264; */
    /* border-radius: 5px; */
    transition: background-color 0.3s, color 0.3s;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); */
    /* background-color: #fff; */
    /* background-color:rgb(46, 2, 100, 0.7); */
}

#home {
    background-color: rgb(176, 111, 233);
    border-radius: 5px;
}
#home:active
{
    background-color: rgb(46, 2, 100, 1);
}
.page-banner{
  display: block;
  margin-left: 25px;
  margin-top: 100px;
  align-items: left;
  color: white;
  font-size: 24px;
}
.page-title {
  display: inline;
}

ol li {
  margin: 20px 0;
  font-size: 1.2em;
  color: black;
  font-weight: normal;
}
/* Mobile */