body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
}
header {
    background-color: #2e0264;
    padding: 20px 0;
    margin-bottom: 50px;
}


h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}   

li {
    text-align: center;
    margin: 50px 0;
    font-size: 2rem;
    list-style: none;
}

li a {
    text-decoration: none;
    
    color: white;
    padding: 10px 20px;
    border: 2px solid #2e0264;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color:rgb(46, 2, 100, 0.7);
}

/* subordinate pages */

.nav-button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid #2e0264;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color:rgb(46, 2, 100, 0.7);
}

.page-hdr{
    padding: 25px;
    background-color: white;
}

.page-main {
    margin-left: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.page-main h1 {
    text-align: left;
    font-size: 24pt;
    color: black;
}

.page-p {
    color:black;
    text-align: left;
    font-size: 1em;
}
.page-main ul li{
    padding-left: 20px;
    margin: 20px 0;

}

.page-main li {
   
    text-align: left;
    margin: 50px 0;
    font-size: 2rem;
    list-style: none;

}




.page-main table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px,20px;
}

.page-main th {
    background-color: #f2f2f2;
    color: black;
}
.page-main th, .page-main td {
    border: 1px solid #ddd;
    padding: 8px;    
}

canvas{
    margin-top: 25px;
}