body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
    display: block;
  justify-content: center;
  align-items: center;
}

 /* a {
    color: white;
    padding: 10px 20px;
    border: 2px solid #2e0264;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color:rgb(46, 2, 100, 0.7);
} */

.page-hdr{
    position: relative;
    padding: 25px;
    background-color: white;
    margin-bottom: 25px;
    position: sticky;
    top:0;

}

.nav-button {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid #2e0264;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    background-color:rgb(46, 2, 100, 0.7);
}



.page-main {
    margin-left: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.page-main h2 {
    display: block;
    text-align: center;
    font-size: 24pt;
    color: black;
}

/* .page-p {
    color:black;
    text-align: left;
    font-size: 1em;
} */

#canvasContainer{
    position: relative;
    text-align: center;
    overflow-y: scroll;
    overflow: auto;
    height: 600px;
}

#canvasContainer canvas{
    display:block;
    margin: 0 auto;
    /* margin-bottom: 100px; */
}

#canvasContainer button{
    position: relative;
}

.align-right{
    text-align: right;
}